<!-- Default layout for the site. -->

<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="icon" href="/assets/images/favicon.ico">
</head>

<body>
    <nav class="flex full">
        <div class="flex">
            <a class="nav-item" href="/">
                <div>
                    <span>ConnectED&nbsp;&nbsp;</span>
                    <img class="thumbnail" src="/assets/images/logo.png" alt="ConnectED logo">
                </div>
            </a>
            <a class="nav-item" href="/">Dashboard</a>
            <a class="nav-item" href="/courses">Courses</a>
        </div>

        <div class="flex">
            <a class="nav-item" href="/user/{{userID}}">
                <div>
                    <img class="thumbnail" src="{{avatarDir}}" alt="avatar">
                    <span>&nbsp;&nbsp;{{userName}}</span>
                </div>
            </a>
        </div>
    </nav>

    {{{body}}}

    <div id="footer" class="full">
        <hr>
        <p>Connect Education 2018</p>
    </div>
</body>

</html>