<!-- Default layout for the site. -->

<!DOCTYPE html>
<html>

<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>
    <nav class="flex">
        <div class="flex">
            <a class="nav-item" href="#">
                <div class="banner flex">
                    <span>ConnectED</span>
                    <img class="thumbnail" src="/assets/images/logo.png" alt="ConnectED logo">
                </div>
            </a>
            <a class="nav-item" href="#">About</a>
            <a class="nav-item" href="#">Courses</a>
        </div>

        <div class="flex">
            <a class="nav-item" href="{{ userPage }}">
                <div class="flex">
                    <img class="thumbnail" src="{{ avatarDir }}" alt="avatar">
                    <span>{{ userName }}</span>
                </div>
            </a>
        </div>
    </nav>

    {{{ body }}}

    <div id="footer">
        <hr>
        <p>Connect Education 2018</p>
    </div>
</body>

</html>