<!-- Default layout for the site. -->

<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="icon" href="/assets/images/favicon.ico">
    <script src="/js/handlebars-v4.0.11.js"></script>
</head>

<body>
    <nav class="flex full">
        <div class="flex">
            <div class="nav-item">
                <span>ConnectED&nbsp;&nbsp;</span>
                <img class="thumbnail" src="/assets/images/logo.png" alt="ConnectED logo">
            </div>
            <div class="nav-item hover" onclick="requestView('/dashboard')">Dashboard</div>
            <div class="nav-item hover" onclick="requestView('/courses')">Courses</div>
            <div class="nav-item hover" onclick="requestView('/resources')">Resources</div>
        </div>

        <div class="flex">
            <!-- Make requestView call for this more dynamic. Serve different user other than user 0. -->
            <div id="user-button" class="nav-item hover">
                <img id="nav-profile-pic" class="thumbnail" src="{{avatarDir}}" alt="avatar">
                <span id="user-name">&nbsp;&nbsp;{{firstName}} {{lastName}}</span>
            </div>
        </div>
    </nav>

    <div id="container">
        <!--Insert AJAX received data here.--> {{{body}}}
    </div>


    <div id="footer" class="full">
        <hr>
        <p>Connect Education 2018</p>
    </div>

    <script src="/js/view-handler.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/todo.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>