<!-- Default layout for the site. -->
<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="icon" href="/assets/images/favicon.ico">
    <script src="/js/handlebars-v4.0.11.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"> -->
</head>

<body>
    <nav class="flex full">
        <div class="flex">
            <div class="nav-item">
                <span>ConnectED&nbsp;&nbsp;</span>
                <img class="thumbnail" src="/assets/images/logo.png" alt="ConnectED logo">
            </div>
            <div class="nav-item hover" onclick="requestView('/dashboard')">Dashboard</div>
            <div class="nav-item hover" onclick="requestView('/courses')">Courses</div>
            <div class="nav-item hover" onclick="requestView('/resources')">Resources</div>
            <div class="nav-item hover" onclick="requestView('/privacy')">Privacy</div>

            <!-- BS Dropdown
            <div class="nav-item hover">
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Remotely</li>
                    <li><a href="#">Mobile Phone <i class="far fa-heart"></i></a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Log Out</li>
                    <li><a href="#">Log Out <i class="far fa-heart"></i></a></li>
                </ul>
            </div> -->
        </div>

        <div class="flex">
            <!-- Make requestView call for this more dynamic. Serve different user other than user 0. -->
            <div id="user-button" class="nav-item hover">
                <img id="nav-profile-pic" class="thumbnail" src="{{avatarDir}}" alt="avatar">
                <span id="user-name">&nbsp;&nbsp;{{firstName}} {{lastName}}</span>
            </div>
        </div>
    </nav>

    <div id="container">
        <!--Insert AJAX received data here.--> {{{body}}}
    </div>


    <div id="footer" class="full">
        <hr>
        <p>© Connect Education 2018</p>
        <p>Please read our <a href="http://connecteducation.ca/policies" target="_blank">Privacy & Security Policies</a></p>
    </div>
    <!-- Custom Scripts -->
    <script src="/js/view-handler.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/todo.js"></script>
    <script src="/js/login.js"></script>
    <!-- FontAwesome Script -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>