<div class="full flex">
    <div class="full panel">
        <h1>{{courseTitle}}</h1>
        <hr>
        <p>
            {{ description }}
        </p>
        <hr>
        <span>Participants</span>
        <br>
        <ul>
            <!-- loop over participants array and render participants here -->
            {{#each participants}}
            <li>
                <a onclick="requestView('/user/{{this.userID}}')">{{this.firstName}} {{this.lastName}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>