<div class="flex full">
    <div class="container flex">
        <!-- Make each todo enlargable! -->
        {{#each todos}}
        <div class="panel" style="background-color:{{this.color}};">
            <span>{{this.title}}</span>
            <br>
            <span>{{this.course}}</span>
            <br>
            <span>Due: {{this.dueDate}}</span>
            <hr>
            <p>{{this.description}}</p>
        </div>
        {{else}}
        <p class="center">Nothing to do.</p>
        {{/each}}
        <div class="panel">
            <form method="POST" action="/post-todo">
                <input type="text" name="title" value="Title">
                <br>
                <input type="text" name="course" value="Course">
                <br>
                <input type="text" name="dueDate" value="DueDate">
                <br>
                <textarea name="description">Description</textarea>
                <br>
                <input type="text" name="color" value="Color">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<script src="/js/chat.js"></script>