<div class="flex full">
    <div class="container flex">
        <!-- Make each todo enlargable! -->
        {{#each todos}}
        <div class="panel" style="background-color:{{this.color}};">
            <span>{{this.title}}</span>
            <br>
            <span>{{this.course}}</span>
            <br>
            <span>Due: {{this.dueDate}}</span>
            <hr>
            <p>{{this.description}}</p>
        </div>
        {{else}}
        <p class="center">Nothing to do.</p>
        {{/each}}
    </div>
</div>

<script src="/js/chat.js"></script>