<div class="flex full">
    <div class="container flex">
        {{#each todos}}
        <div class="panel" style="background-color: {{this.color}}" onclick="toggleModal(this)">
            <span>{{this.title}}</span>
            <br>
            <span>{{this.CRN}}</span>
            <br>
            <span>Due: {{this.dueDate}}</span>
            <hr>
            <p>{{this.description}}</p>
            <!-- turn into editable textarea? -->
            <hr>
            <!-- ADD FUNCTIONALITY (Turn into form?) -->
            <div class="controls">
                <a href="/courses">Edit</a>
                <a href="/courses">Done</a>
                <a href="/courses">X</a>

                <!-- find way to select todo element -->
                <!-- Maybe just submit file. -->
                <!-- Onclick to request deletion, edit, or upload or whatever -->
                <input type="file" class="submission">
                <button onclick="submitFile(this.parentNode.parentNode, 'item')">UPLOAD</button>

            </div>
        </div>
        {{else}}
        <p class="center">Nothing to do.</p>
        {{/each}}
        <div class="panel">
            <form method="POST" action="/todo">
                <input type="text" name="title" placeholder="Title">
                <br>
                <input type="text" name="CRN" placeholder="Course"> <!-- Turn into dropdown -->
                <br>
                <input type="text" name="dueDate" placeholder="DueDate">
                <br>
                <textarea name="description" placeholder="Description"></textarea>
                <br>
                <input type="text" name="color" placeholder="grey"> <!-- Turn into color palette -->
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<div id="modal" style="display: none">
</div>

<!--<script src="/js/modal.js"></script>-->