<div class="flex full">
    <div class="container flex">
        {{#each todos}}
        <div class="panel" style="background-color: {{this.color}}" onclick="toggleModal(this)">
            <span>{{this.title}}</span>
            <br>
            <span>{{this.course}}</span>
            <br>
            <span>Due: {{this.dueDate}}</span>
            <hr>
            <p>{{this.description}}</p>
            <!-- turn into editable textarea? -->
            <hr>
            <!-- ADD FUNCTIONALITY (Turn into form?) -->
            <div class="controls">
                <a href="/courses">Edit</a>
                <a href="/courses">Done</a>
                <a href="/courses">X</a>
            </div>
        </div>
        {{else}}
        <p class="center">Nothing to do.</p>
        {{/each}}
        <div class="panel">
            <form method="POST" action="/todo">
                <input type="text" name="title" value="Title">
                <br>
                <input type="text" name="course" value="Course">
                <br>
                <input type="text" name="dueDate" value="DueDate">
                <br>
                <textarea name="description">Description</textarea>
                <br>
                <input type="text" name="color" value="Color">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<div id="modal" style="display: none">
</div>

<!--<script src="/js/modal.js"></script>-->