<div class="full flex">
    <div class="container flex">
        <div class="profile panel">
            <img class="large" src="{{avatarDir}}" alt="avatar">
            <div>
                <h1>{{firstName}} {{lastName}}</h1>
                <hr>
                <p>{{bio}}</p>
                <hr>

                <div>
                    <span>Courses</span>
                    <br>
                    <ul>
                        {{#each courses}}
                        <li>
                            <a onclick="requestView('/courses/{{this.CRN}}')">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    <span>Contacts</span>
                    <br>
                    <ul>
                        {{#each contacts}}
                        <li>
                            <a onclick="requestView('/user/{{this.userID}}')">{{this.firstName}} {{this.lastName}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>